/* - Otros atriutos = [atributo]
= [atributo=valor]
= [atributo^=valor] -- Busca al principio
= [atributo*=valor] -- Busca en cualquier parte
= [atributo$=valor] -- Busca al final
= [atributo|=valor] -- Para temas de idiomas 
*/
body{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

#title {
    background-color: #a61c31;
}
.text {
    background-color: lightskyblue;
}

.Nav-bar  ul,a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    
}

.Nav-bar a{
   display: flex;
   flex-direction:column;
   -ms-flex-item-align: center;
   align-items: flex-end;
   padding: 10px;
   text-align: center;
   
}

.Section1 h1{
    text-align: center;
    margin-bottom: 10px;
}
.Section1 img{
    margin-left: 40%;
}
.Fotter{
    text-align: center;
}
.Fotter p{
    margin-top: 190px;
}

.title-1{
    color: teal;
    font-size: 50px;
}
.text-4{
    color: lightsalmon;
    font-size: 20px;
}
.link {
    /* Obligar a que SI tome las propiedades del padre */
    color: inherit;
}
.link2{
    color: initial;
}